
/* https://www.w3schools.com/howto/howto_css_parallax.asp */

/* ---------------Parallax Background--------------- */
.articleImg {

    /* ---Aesthetic--- */

    /* Darken the image a bit */
    background-color: rgb(0, 0, 0, 0.8);

    /* Image to display, with coloured overlay */
    /* https://stackoverflow.com/questions/18815157/how-to-overlay-image-with-color-in-css */
    background-image: linear-gradient(to top, #05445Eba, #75E6DAcc), url("https://c0.wallpaperflare.com/preview/91/810/349/black-crt-tv.jpg");

    /* ---Positioning--- */

    /* Spacing for Navbar */
    margin-top: 108px;

    /* Keep image at consistent size */
    min-height: 60%;

    /* Therefore container may use absolute */
    position: relative;
}

/* Parallax Background Text */
.articleImg .overlayText {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */

    /* ---Aesthetic--- */
    color: white;
    font-size: 30px;
    text-align: center;

    /* ---Positioning--- */
    /* W3 Schools Center Vertically - Using position & transform */
    /* https://www.w3schools.com/css/css_align.asp */
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------------Handle Bar, Nav Adjustments--------------- */


/* Make the drop shadow from nav less intensewhen this stylsheet is loaded second */
.nav {
    /* Drop shadow effect */
    box-shadow: -2px 2px 10px 0.25px rgb(90, 90, 90, 0.3);
}

/* Handlebar which follows the user */
.handle {
    /* ---Aesthetic--- */
    /* Set navbar's colour */
    background-color: #D4F1F4;

    /* Remove default bullet point */
    list-style-type: none;

    /* Elements will not leak */
    overflow: hidden;

    /* ---Positioning--- */

    /* Make sure it's a block */
    display: block;

    /* Padding will be included in element's width and height */
    box-sizing: border-box;

    /* Ensures nav stays at top of screen */
    position: sticky;

    /* Text stays to right of screen */
    text-align: center;
    
    /* Occupy full width of screen */
    width: 100%;

    /* Prevent condensing at low zoom */
    min-height: 50px;

    /* Prevent expansion at high zoom */
    max-height: 50px;

    /* Ensure that in all pages, the navbar stays at top of screen */
    top:108px;

    /* Drop shadow effect */
    box-shadow: -2px 2px 20px 0.25px rgb(90, 90, 90);

    /* Handlebar is second from top */ 
    z-index: 255;
}

/* Target li tags within parent element of class handle */
.handle li {
    /* --Positioning-- */
    /* Vertically center */
    padding-top: 1px;
    /* Spacing */
    padding-left: 30px;
    padding-right: 30px;

    /* Elements will render on horizontal plane while respecting vertical margins*/
    display: inline-block;
}

/* Target links within handlebar */
.handle li a {
    color: #05445E;

    font-weight: bold;

    /* Remove underline */
    text-decoration: none;
}

/* Make links respond to hover */
.handle li a:hover {

}

/* The first section needs to be distanced from handlebar */
/* We must also ensure backgrounds still functions */
/* section:first-of-type {
    padding-top: 50px;
} */

/* ---------------Article Text boxes--------------- */

.boxTextContent {
    /* ---Aesthetic--- */
    /* Opacity and colour */
    background-color: rgba(255, 255, 255);

    /* Drop shadow effect */
    box-shadow: -2px 2px 10px 0.25px rgb(90, 90, 90, 0.8);

    /* Round borders */
    border-radius: 10px;

    /* ---Positioning--- */

    /* Limit size */
    max-width: 45%;
    min-width: 45%;

    /* Horizontal Center */
    margin: auto;
    margin-top: 50px;

    /* Pad content on all sides */
    padding: 30px;
}

/* https://stackoverflow.com/questions/12289853/notfirst-child-selector */
/* Exempts top box from having a margin */
.boxTextContent:first-of-type {
    margin-top: 0;
}

/* ---------------Article Text boxes--------------- */
/* ---Text Formatting--- */

/* Headings within article text */
.boxTextContent h1 {
    /* Bigger than h1 */
    font-size: 45px;
    /* Remove all margins */
    margin: 0;
}

/* Paragraphs within article text */
.boxTextContent > div > p {
    /* Bigger text */
    font-size: large;
}

/* The last paragraph doesn't get a margin */
.boxTextContent p:last-of-type {
    margin-bottom: 0;
}

/* ---------------Article Text boxes--------------- */
/* ---Image Formatting--- */
.boxImg {

    /* ---Aesthetic--- */
    border: 1px solid #189AB4;

    /* ---Positioning--- */
    
    /* Image will scale to boxImgContain width */
    max-width:100%;

    margin-top: 2px;
}

.boxImgHeader {
    font-size:20px;
    font-weight: bold;
    color: #05445E;
    padding-top: 0;
}

.boxImgFooter {
    margin: 0;
    padding: 0;
    color:#05445E;
    font-size: small;
}

.figure {
    vertical-align: Super;
    font-size: small;
    color:#2d2d2d;
}

.boxImgContain {
    /* ---Aesthetic--- */
    background-color: #D4F1F4;
    box-shadow: 3px 3px 10px 0.25px rgb(90, 90, 90, 0.3);
    border: 1px solid #05445E;

    /* ---Positioning--- */
    /* Container will scale to boxTextContent width */
    max-width: 80%;
    /* Height will scale to match width */
    max-height: auto;

    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    /* Center Image https://www.w3schools.com/howto/howto_css_image_center.asp */
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px
}

/* ---------------Article Text boxes--------------- */
/* ---Intro box--- */

/* Grid layout for introduction content */
.gridIntro {
    /* Set display to grid */
    display: grid;

    /* Two columns of the same width */
    grid-template-columns: 65% 30%;
    grid-template-rows: auto auto;

    /* Spacing between columns */
    justify-content: space-evenly;
}

/* Child elements of grid */
.gridIntro > div {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* ---Chapter Selection--- */

#chapters {
    background-color: #D4F1F4;
    border-radius: 30px;
    padding: 5px;

    float:right;
    box-sizing: border-box;
}

#chapters > h2, #chapters > a {
    text-align: center;
}

/* https://stackoverflow.com/questions/55369205/centering-an-li-element-without-taking-bullet-point-into-account */
#chapters > ul {
    /* Adjust default padding from ul */
    padding-left: 20px;
}

/* Styling of chapter select */
#chapters > ul > li > a {
    /* Remove underline */
    text-decoration: none;
}

#chapters > ul > li{
    /* Space out list items*/
    padding-bottom: 15px;
}

#chapters > ul {
    /* Remove default bullet point */
    list-style-type: none;
}


/* ---Article Background--- */

/* Background which covers entire height of content */
.grain {
    /* https://www.w3schools.com/css/css3_backgrounds.asp */

    /* Two backgrounds will cover each end of the webpage */
    /* Another Background will be layered behind these */
    /* Chosen Images (These are just inversions of each other */
    background-image: url(assets/background-left.png), url(assets/background-right.png), url(assets/paper-texture.jpg);
    background-position: left, right, left;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 20%, 20%, cover;

    padding-top: 50px;

}

/* ---------------General Classes--------------- */
/* These classes are applicable to multiple elements, used to reduce repition */

.parrallax {    
    /* Create the parallax scrolling effect */

    /* No scrolling with page */
    background-attachment: fixed;

    /* Keep centered */
    background-position: center;

    /* No repeating in tiles */
    background-repeat: no-repeat;

    /* Cover the viewport */
    background-size: cover;
}