
/* https://www.w3schools.com/howto/howto_css_parallax.asp */

/* Parallax Background */


.articleImg {

    /* ---Aesthetic--- */

    /* Darken the image a bit */
    background-color: rgb(0, 0, 0, 0.8);

    /* Image to display, with coloured overlay */
    /* https://stackoverflow.com/questions/18815157/how-to-overlay-image-with-color-in-css */
    background-image: linear-gradient(to top, #05445Eba, #75E6DAcc), url("https://c0.wallpaperflare.com/preview/91/810/349/black-crt-tv.jpg");

    /* ---Positioning--- */

    /* Spacing for Navbar */
    margin-top: 108px;

    /* Keep image at consistent size */
    min-height: 60%;

    /* Therefore container may use absolute */
    position: relative;
}

/* Parallax Background Text */
.articleImg .overlayText {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */

    /* ---Aesthetic--- */
    color: white;
    font-size: 30px;
    text-align: center;

    /* ---Positioning--- */
    /* W3 Schools Center Vertically - Using position & transform */
    /* https://www.w3schools.com/css/css_align.asp */
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Background which covers entire height of page */
.grain {
    /* https://www.w3schools.com/css/css3_backgrounds.asp */

    /* Two backgrounds will cover each end of the webpage */
    /* Another Background will be layered behind these */
    /* Chosen Images (These are just inversions of each other */
    background-image: url(assets/background-left.png), url(assets/background-right.png), url(assets/paper-texture.jpg);
    background-position: left, right, left;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 20%, 20%, cover;

    padding-top: 50px;

}

/* Make the drop shadow from nav less intensewhen this stylsheet is loaded second */
.nav {
    /* Drop shadow effect */
    box-shadow: -2px 2px 10px 0.25px rgb(90, 90, 90, 0.3);
}

/* Handlebar which follows the user */
.handle {
    /* ---Aesthetic--- */
    /* Set navbar's colour */
    background-color: #D4F1F4;

    /* Remove default bullet point */
    list-style-type: none;

    /* Elements will not leak */
    overflow: hidden;

    /* ---Positioning--- */

    /* Make sure it's a block */
    display: block;

    /* Padding will be included in element's width and height */
    box-sizing: border-box;

    /* Ensures nav stays at top of screen */
    position: sticky;

    /* Text stays to right of screen */
    text-align: center;
    
    /* Occupy full width of screen */
    width: 100%;

    /* Prevent condensing at low zoom */
    min-height: 50px;

    /* Prevent expansion at high zoom */
    max-height: 50px;

    /* Ensure that in all pages, the navbar stays at top of screen */
    top:108px;

    /* Drop shadow effect */
    box-shadow: -2px 2px 20px 0.25px rgb(90, 90, 90);

    /* Handlebar is second from top */ 
    z-index: 255;
}

/* Target li tags within parent element of class handle */
.handle li {
    /* --Positioning-- */
    /* Vertically center */
    padding-top: 1px;
    /* Spacing */
    padding-left: 30px;
    padding-right: 30px;

    /* Elements will render on horizontal plane while respecting vertical margins*/
    display: inline-block;
}

/* Target links within handlebar */
.handle li a {
    color: #05445E;

    font-weight: bold;

    /* Remove underline */
    text-decoration: none;
}

/* Make links respond to hover */
.handle li a:hover {

}

/* The first section needs to be distanced from handlebar */
/* We must also ensure backgrounds still functions */
/* section:first-of-type {
    padding-top: 50px;
} */

.boxTextContent {
    /* ---Aesthetic--- */
    /* Opacity and colour */
    background-color: rgba(255, 255, 255);

    /* Drop shadow effect */
    box-shadow: -2px 2px 10px 0.25px rgb(90, 90, 90, 0.8);

    /* Round borders */
    border-radius: 10px;

    /* ---Positioning--- */

    /* Limit size */
    max-width: 45%;
    min-width: 45%;

    /* Horizontal Center */
    margin: auto;
    margin-top: 50px;

    /* Pad content on all sides */
    padding: 30px;
}

/* https://stackoverflow.com/questions/12289853/notfirst-child-selector */
/* Exempts top box from having a margin */
.boxTextContent:first-of-type {
    margin-top: 0;
}

/* Headings within article text */
.boxTextContent h1 {
    /* Bigger than h1 */
    font-size: 45px;
    /* Remove all margins */
    margin: 0;
}

/* Paragraphs within article text */
.boxTextContent p {
    /* Bigger text */
    font-size: large;
}

/* The last paragraph doesn't get a margin */
.boxTextContent p:last-of-type {
    margin-bottom: 0;
}

#chapters {
    background-color: #D4F1F4;
    border-radius: 30px;
    padding: 5px;

    float:right;
    box-sizing: border-box;
}

#chapters > h2 {
    text-align: center;
}

#chapters > ul {
    /* Remove default bullet point */
    list-style-type: none;
}

    

#introText {
    display:inline-block;
}

/* ---------------General Classes--------------- */
/* These classes are applicable to multiple elements, used to reduce repition */

.parrallax {    
    /* Create the parallax scrolling effect */

    /* No scrolling with page */
    background-attachment: fixed;

    /* Keep centered */
    background-position: center;

    /* No repeating in tiles */
    background-repeat: no-repeat;

    /* Cover the viewport */
    background-size: cover;
}